{% load static %}
<div class="cv-fixed-profile">
    <div class="profile">
        <div class="profile-picture">
            <img src="{% static 'img/Amos-Working-web_edited.jpg' %}" alt="Amos Working">
        </div>
        <div class="profile-name">
            Amos Vryhof
        </div>
        <div class="profile-role">
            Lead Application Developer
        </div>
        <div class="profile-icons">
            <a href="https://www.linkedin.com/in/amos-vryhof/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
</div>