ambient_api
ambient_aprs>=0.11.0
ask-sdk-core
babel
beautifulsoup4==4.6.3
bleach
certifi==2018.11.29
chardet==3.0.4
cryptography
Django==2.2.2
django-ask-sdk
django-bootstrap4==0.0.7
django-extensions==2.1.4
django-filer==1.5.0
django-mptt
django-sendgrid-v5
django-swingtime
djangorestframework
easy_thumbnails
favorites-icons
frontend-assets==0.6.8
future==0.17.1
idna==2.8
phonetisch
psycopg2-binary==2.7.6.1
python-dateutil==2.7.5
python_http_client
python-Levenshtein
pytz==2018.7
requests==2.21.0
six==1.12.0
ssml-builder
urllib3==1.24.1
xmltodict==0.11.0
