ambient_api
ambient_aprs>=0.12.0
ask-sdk-core
babel
beautifulsoup4==4.8.2
bleach
certifi==2019.11.28
chardet==3.0.4
cryptography
Django==3.0.3
django-ask-sdk
django-bootstrap4==1.1.1
django-ckeditor==5.9.0
django-extensions==2.2.8
django-filer==1.7.0
django-polymorphic==2.1.2
django-mptt
django-sendgrid-v5
django-swingtime
djangorestframework
easy_thumbnails
favorites-icons
frontend-assets==0.8.0
future==0.18.2
geo_ez
idna==2.9
phonetisch
psycopg2-binary==2.8.4
python-dateutil==2.8.0
python_http_client
python-Levenshtein
pytz==2019.3
requests==2.23.0
six==1.14.0
ssml-builder
urllib3==1.25.8
xmltodict==0.12.0
