<!doctype html>
<html lang="en">
<head>
    <title>Email Signature</title>
    <link rel="stylesheet" href="../static/css/signature-style.css">
</head>
<body>
<div class="email-signature"
     style="display: inline-block;width: auto; padding: 20px; font: normal 11pt Calibri, Verdana, Arial, Sans-Serif;background: #ffffff; border: 2px solid #dcdcdc;">
    <div class="signature-left"
         style="display: inline-block; vertical-align: top; padding-right: 20px; border-right: 2px solid #dcdcdc;">
        <div class="signature-avatar" style="text-align: center;"><img
                src="https://cdn.vryhofresearch.com/media/sig/avatar-proact.jpg" alt="Amos Vryhof"></div>
        <div class="signature-name" style="font-weight:bold; font-size: 15pt;">
            Amos Vryhof
        </div>
        <div class="signature-title" style="font-style: italic;">
            API &amp; Web Developer / ProAct
        </div>
        <div class="signature-phone">
            cell: <a href="tel:13153456751">(315) 345-6751</a>
        </div>
        <div class="signature-email">
            <a href="mailto:amosvryhof@proactrx.com">AmosVryhof@proactrx.com</a>
        </div>
    </div>
    <div class="signature-right" style="display: inline-block; vertical-align: top; padding-left: 20px;">
        <div>
            <a href="mailto:AmosVryhof@proactrx.com" style="text-decoration: none;"><img
                    src="https://cdn.vryhofresearch.com/static/sig/mail.png" alt="Email"></a>
            <a href="https://www.linkedin.com/in/amos-vryhof/" target="_blank" style="text-decoration: none;"><img
                    src="https://cdn.vryhofresearch.com/static/sig/linkedin.png" alt="LinkedIn"></a>
            <a href="https://github.com/avryhof/" target="_blank" style="text-decoration: none;"><img
                    src="https://cdn.vryhofresearch.com/static/sig/github.png" alt="GitHub"></a>
        </div>
        <hr>
        <div class="signature-logo" style="width: 200px;margin: 0 auto 0 auto;">
            <img src="https://cdn.vryhofresearch.com/static/sig/proactrx-logo.png" class="signature-logo"
                 style="width: 200px;margin: 0 auto 0 auto;" alt="ProAct Rx">
        </div>
    </div>
    <div><img src="https://cdn.vryhofresearch.com/static/sig/proact-mvp.png" width="450" alt="ProAct MVP"></div>
</div>

</body>
</html>

