<div class="post" id="{{ post.title|slugify }}" data-guid='{{ post.link }}'>
    <div class="post-header">
        <div class="post-title grey-text text-darken-4">
            {{ post.title|safe }}
        </div>
        <div class="post-metadata">
            Posted on {{ post.date }} | <a href="{{ post.feed.link }}" target="_blank">{{ post.feed.title|safe }}</a>
        </div>
    </div>
    {% if post.poster and 'img' not in post.content %}
        <!-- Images -->
        <div class="post-image waves-effect waves-block waves-light">
            <img src="{{ post.poster.url }}" alt="{{ post.title }}">
        </div>
    {% endif %}
    <div class="post-content">
        <div>
            <p>
                {{ post.cleaned_content|safe }}
            </p>
        </div>
    </div>
    <div class="post-action">
        <a href="{{ post.link }}" class="btn btn-primary" target="_blank">
            Read more
        </a>
    </div>
</div>