{% extends 'base.html' %}
{% load leaflet %}
{% block extra_css %}
    {% leaflet_css %}
    {% leaflet_javascript %}
    {% leaflet_tiles %}
{% endblock %}
{% block content %}
    <div class="container">
        {% for weather_station in weather_stations %}
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{ weather_station.station.name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h3>Current Conditions</h3>
                    <table class="table">
                        <tr>
                            <td>
                                Date:
                            </td>
                            <td>
                                {{ weather_station.data.date }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Temperature
                            </td>
                            <td>
                                {{ weather_station.data.tempf }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Feels Like
                            </td>
                            <td>
                                {{ weather_station.data.feels_like }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rain
                            </td>
                            <td>
                                <p>
                                    Last reported: {{ weather_station.data.last_rain }}<br>
                                    Reported Amount: {{ weather_station.data.eventrainin }} in.<br>
                                    Reported in the last 24 hours: {{ weather_station.data.dailyrainin }} in.<br>
                                    Reported this week: {{ weather_station.data.weeklyrainin }} in.<br>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Wind
                            </td>
                            <td>
                                <p>
                                    Current Wind Speed: {{ weather_station.data.windspeedmph }} mph<br>
                                    Current Gust Speed: {{ weather_station.data.windgustmph }} mph<br>
                                    Max Daily Gust speed: {{ weather_station.data.maxdailygust }} mph
                                </p>
                            </td>
                        </tr>
                    </table>
{#                    <hr>#}
{#                    <img src="https://www.vryhofresearch.com/vryhof/media/weather/snapshot.jpg" alt="Weather Cam Image"#}
{#                         class="img-responsive" width="100%">#}
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div id="{{ weather_station.station.name }}_map"></div>
                    <script integrity="sha384-PWWwLiclKVytOQTW9jFkFGEcdQ4BlGqYY9CZ2QB8xCU1Vh9NwsbZEvhz1vfLodDy">
                        var {{ weather_station.station.name }}_coords = [{{ weather_station.station.latitude }}, {{ weather_station.station.longitude }}];
                        var {{ weather_station.station.name }}_marker_coords = [{{ weather_station.station.latitude }}, {{ weather_station.station.longitude }}];
                        var {{ weather_station.station.name }}_map = L.map('{{ weather_station.station.name }}_map').setView({{ weather_station.station.name }}_coords, 16);
                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            maxZoom: 18,
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ',
                            id: '{{ weather_station.station.name }}_streets'
                        }).addTo({{ weather_station.station.name }}_map);
                    </script>
                    <script integrity="sha384-bNor440E1ThHxLxZtKEd00y7UR/UurD3jwQBLPVA/Kubd4DiyAokAQ70Qad+y1q8">

                        L.marker({{ weather_station.station.name }}_marker_coords).addTo({{ weather_station.station.name }}_map);
                    </script>
                    <p>
                        Latitude: {{ weather_station.station.latitude }}<br>Longitude: {{ weather_station.station.longitude }}
                    </p>
                    <ul>
                        {% if weather_station.station.weather_underground_id %}
                            <li>
                                <a href="https://www.wunderground.com/personal-weather-station/dashboard?ID={{ weather_station.station.weather_underground_id }}"
                                   target="_blank">
                                    Weather Underground
                                </a>
                            </li>
                        {% endif %}
                        {% if weather_station.station.cwop_name %}
                            <li>
                                <a href="http://www.wxqa.com/sss/search1.cgi?keyword={{ weather_station.station.name }}"
                                   target="_blank">
                                    CWOP Details
                                </a>
                            </li>
                            <li>
                                <a href="http://www.findu.com/cgi-bin/find.cgi?{{ weather_station.station.name }}"
                                   target="_blank">
                                    Findu Page
                                </a>
                            </li>
                            <li>
                                <a href="https://weather.gladstonefamily.net/site/{{ weather_station.station.cwop_name }}"
                                   target="_blank">
                                    CWOP Data
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}