{% extends 'base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script>
        osm_tiles = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        osm_attr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ';
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        {% for weather_station in weather_stations %}
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{ weather_station.station.name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h3>Current Conditions</h3>
                    <table class="table">
                        <tr>
                            <td>
                                Date:
                            </td>
                            <td>
                                {{ weather_station.data.date }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Temperature
                            </td>
                            <td>
                                {{ weather_station.data.tempf }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Feels Like
                            </td>
                            <td>
                                {{ weather_station.data.feels_like }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rain
                            </td>
                            <td>
                                <p>
                                    Last reported: {{ weather_station.data.last_rain }}<br>
                                    Reported Amount: {{ weather_station.data.eventrainin }} in.<br>
                                    Reported in the last 24 hours: {{ weather_station.data.dailyrainin }} in.<br>
                                    Reported this week: {{ weather_station.data.weeklyrainin }} in.<br>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Wind
                            </td>
                            <td>
                                <p>
                                    Current Wind Speed: {{ weather_station.data.windspeedmph }} mph<br>
                                    Current Gust Speed: {{ weather_station.data.windgustmph }} mph<br>
                                    Max Daily Gust speed: {{ weather_station.data.maxdailygust }} mph
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div id="{{ weather_station.station.name }}_map"></div>
                    <script>
                        var {{ weather_station.station.name }}_coords = [{{ weather_station.station.latitude }}, {{ weather_station.station.longitude }}]
                        var {{ weather_station.station.name }}_map = L.map('{{ weather_station.station.name }}_map').setView({{ weather_station.station.name }}_coords, 16);

                        L.tileLayer(osm_tiles, {
                            maxZoom: 18,
                            attribution: osm_attr,
                            id: 'mapbox.streets'
                        }).addTo({{ weather_station.station.name }}_map);

                        L.marker({{ weather_station.station.name }}_coords).addTo({{ weather_station.station.name }}_map);
                    </script>
                    <ul>
                        {% if weather_station.station.weather_underground_id %}
                            <li>
                                <a href="https://www.wunderground.com/personal-weather-station/dashboard?ID={{ weather_station.station.weather_underground_id }}"
                                   target="_blank">
                                    Weather Underground
                                </a>
                            </li>
                        {% endif %}
                        {% if weather_station.station.cwop_name %}
                            <li>
                                <a href="http://www.wxqa.com/sss/search1.cgi?keyword={{ weather_station.station.name }}"
                                   target="_blank">
                                    CWOP Details
                                </a>
                            </li>
                            <li>
                                <a href="http://www.findu.com/cgi-bin/find.cgi?{{ weather_station.station.name }}"
                                   target="_blank">
                                    Findu Page
                                </a>
                            </li>
                            <li>
                                <a href="https://weather.gladstonefamily.net/site/{{ weather_station.station.cwop_name }}"
                                   target="_blank">
                                    CWOP Data
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}