@import "vars";

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar {
  box-sizing: border-box;
}

.navbar-dark {
  color: $white;

  a {
    color: $white;
  }

  .navbar-brand {
    color: $white;
  }
}

.bg-dark {
  background-color: $dark-color;
}

@media (max-width: $xs) {
  body {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;

    //width: calc(100% - 43px);
    width: 100%;
    padding: 10px;
  }

  .navbar-brand {
    font-size: 2.0em;
  }

  .nav-toggle-control {
    display: none !important;
  }

  .nav-toggle-button {
    width: 45px;
    font-size: 2.0em;
  }

  .navbar-collapse {
    display: none;
    width: 0;
  }

  .nav-toggle-control:checked ~ .navbar-collapse {
    display: flex !important;
    flex-direction: column;
    flex: 100% 0 0;
  }

  .nav-item {
    padding: 10px 0;
  }
}

@media (min-width: $xs) {
  .navbar {
    display: flex;
    flex-direction: row;

    padding: $padding;

    flex-wrap: nowrap;
    align-items: stretch;

    .navbar-brand {
      display: block;
      text-decoration: none;
    }

    .navbar-toggler, .nav-toggle-control, .nav-toggle-button {
      display: none;
      align-self: flex-end;
    }

    .navbar-collapse {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }

    .navbar-nav {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      font-size: 0.75em;

      margin: 0;
      padding: 0;

      .nav-item {
        padding-left: $padding / 2;
        padding-right: $padding / 2;

        a {
          text-decoration: none;
        }
      }
    }
  }

  .navbar-expand {
    width: 100%;
  }
}

@media (min-width: $md) {
  .navbar-expand-lg {
    width: 100%;
  }
}