@import "vars";

.nav-profile {
  margin-left: auto;
  position: fixed;

  display: flex;
  flex-direction: column;

  right: $padding;

  .toggle-control {
    display: none;
  }

  .toggle-control:checked ~ .profile-menu {
    display: flex !important;
    flex-direction: column;
  }

  .profile-menu {
    display: none;
    background: #333333;
    position: relative;
    top: 1.0em;
    z-index: 99;

    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;

    .menu-item {
      padding: 1em;
    }
  }
}