@import "vars";
@import "mixins";
@import "effects";

.sidebar {
  padding: 1.0em;

  .sidebar-container {
    background: var(--body-loud-color);
    border-radius: 8px;
    background-clip: content-box;

    .sidebar-item {
      padding: 0.75em;

      a:link, a:visited {
        color: var(--body-fg);
        text-decoration: none;
      }

      .icon {
        @include flex-center;
        width: 40px;
        height: 40px;

        img, .user-icon {
          border-radius: 50%;
          width: 100%;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        img[src$= "svg" ] {
          @include svg-white;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


@media (max-width: $sm) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 900;

    .sidebar-container {
      display: flex;
      flex-direction: row;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

      .sidebar-item {
        .label {
          display: none;
        }
      }
    }

  }
}

@media (min-width: $sm) {
  .sidebar {
    min-width: 96px;

    .sidebar-container {
      width: auto;
      position: fixed;

      display: flex;
      flex-direction: column;
      justify-items: stretch;
      align-items: flex-start;

      .sidebar-item, .sidebar-item a {
        display: flex;
        flex-direction: row;
        align-items: center;

        .icon {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        .label {
          display: none;
          white-space: nowrap;

          a {
            display: none;
          }
        }
      }

      .sidebar-item.user-sidebar-item {
        align-items: flex-start !important;
      }

      hr {
        width: 100%;
      }
    }
  }
  .sidebar:hover {
    .icon {
      margin-right: 1.0em;
    }

    .label {
      animation: fadeSlideInFromLeft 0.5s;
      display: flex !important;
      flex-direction: column;

      .user-link {
        display: block;
        padding: 0.5em 0 0.5em 0;
      }

      a {
        display: inline-block !important;
      }
    }
  }
}
