@import "vars";
@import "mixins";
@import "effects";

.sidebar {
  padding: 1.0em;

  .sidebar-container {
    background: var(--body-loud-color);
    border-radius: 8px;

    .sidebar-item {
      padding: 0.75em;

      a:link, a:visited {
        color: $whiteSmoke;
        text-decoration: none;
      }

      .icon {
        @include flex-center;
        position: relative;
        width: 40px;
        height: 40px;

        img, .user-icon {
          border-radius: 50%;
          width: 100%;

          img {
            border-radius: 50%;
            width: 40px !important;
            height: 40px !important;
            object-fit: cover;
          }
        }

        .user-initial {
          @include flex-center;
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          color: #333333;
          background: $whiteSmoke;
          font-weight: bold;
        }

        img[src$= "svg" ] {
          @include svg-white;
          width: 100%;
          height: 100%;
        }
      }

    }
  }
}


@media (max-width: $sm) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 900;

    .sidebar-container {
      display: flex;
      flex-direction: row;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

      .sidebar-item {
        .label {
          display: none;
        }
      }
    }

  }
}

@media (min-width: $sm) {
  .sidebar {
    .sidebar-container {
      width: auto;

      display: flex;
      flex-direction: column;
      justify-items: stretch;

      .sidebar-item, .sidebar-item a {
        display: flex;
        flex-direction: row;
        align-items: center;

        .label {
          display: none;
          white-space: nowrap;

          a {
            display: none;
          }
        }
      }

      hr {
        width: 100%;
      }
    }
  }
  .sidebar:hover {
    .icon {
      margin-right: 1.0em;
    }

    .label {
      animation: fadeSlideInFromLeft 0.5s;
      display: block !important;

      a {
        display: inline-block !important;
      }
    }
  }
}
