@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pragati+Narrow&display=swap");
body {
  box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

/* < 576 */
/* > 576 < 768 */
/* > 768 < 992 */
/* > 992 < 1200 */
/* > 1200 < 1400 */
/* > 1400 */
/* < 576 */
/* > 576 < 768 */
/* > 768 < 992 */
/* > 992 < 1200 */
/* > 1200 < 1400 */
/* > 1400 */
/* Bases for modals */
.container, .container-fluid {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1320px;
}

.row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.row [class*=col-], .row .col {
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}
.row .col-12 {
  flex: 100% 0 0;
  max-width: 100%;
}
.row .col-11 {
  flex: 91.6666666667% 0 0;
  max-width: 91.6666666667%;
}
.row .col-10 {
  flex: 83.3333333333% 0 0;
  max-width: 83.3333333333%;
}
.row .col-9 {
  flex: 75% 0 0;
  max-width: 75%;
}
.row .col-8 {
  flex: 66.6666666667% 0 0;
  max-width: 66.6666666667%;
}
.row .col-7 {
  flex: 58.3333333333% 0 0;
  max-width: 58.3333333333%;
}
.row .col-6 {
  flex: 50% 0 0;
  max-width: 50%;
}
.row .col-5 {
  flex: 41.6666666667% 0 0;
  max-width: 41.6666666667%;
}
.row .col-4 {
  flex: 33.3333333333% 0 0;
  max-width: 33.3333333333%;
}
.row .col-3 {
  flex: 25% 0 0;
  max-width: 25%;
}
.row .col-2 {
  flex: 16.6666666667% 0 0;
  max-width: 16.6666666667%;
}
.row .col-1 {
  flex: 8.3333333333% 0 0;
  max-width: 8.3333333333%;
}

@media (max-width: 576px) {
  body {
    margin: 0;
    padding: 0;
  }
  .container .row {
    width: 100%;
  }
  .container .row [class*=col-], .container .row .col {
    padding-left: 0;
    padding-right: 0;
  }
  .hidden-xs {
    display: none !important;
  }
  .col-xs-12 {
    flex: 100% 0 0 !important;
    max-width: 100% !important;
  }
  .col-xs-11 {
    flex: 91.6666666667% 0 0 !important;
    max-width: 91.6666666667% !important;
  }
  .col-xs-10 {
    flex: 83.3333333333% 0 0 !important;
    max-width: 83.3333333333% !important;
  }
  .col-xs-9 {
    flex: 75% 0 0 !important;
    max-width: 75% !important;
  }
  .col-xs-8 {
    flex: 66.6666666667% 0 0 !important;
    max-width: 66.6666666667% !important;
  }
  .col-xs-7 {
    flex: 58.3333333333% 0 0 !important;
    max-width: 58.3333333333% !important;
  }
  .col-xs-6 {
    flex: 50% 0 0 !important;
    max-width: 50% !important;
  }
  .col-xs-5 {
    flex: 41.6666666667% 0 0 !important;
    max-width: 41.6666666667% !important;
  }
  .col-xs-4 {
    flex: 33.3333333333% 0 0 !important;
    max-width: 33.3333333333% !important;
  }
  .col-xs-3 {
    flex: 25% 0 0 !important;
    max-width: 25% !important;
  }
  .col-xs-2 {
    flex: 16.6666666667% 0 0 !important;
    max-width: 16.6666666667% !important;
  }
  .col-xs-1 {
    flex: 8.3333333333% 0 0 !important;
    max-width: 8.3333333333% !important;
  }
}
@media (min-width: 576px) {
  .col-sm-12 {
    flex: 100% 0 0 !important;
    max-width: 100% !important;
  }
  .col-sm-11 {
    flex: 91.6666666667% 0 0 !important;
    max-width: 91.6666666667% !important;
  }
  .col-sm-10 {
    flex: 83.3333333333% 0 0 !important;
    max-width: 83.3333333333% !important;
  }
  .col-sm-9 {
    flex: 75% 0 0 !important;
    max-width: 75% !important;
  }
  .col-sm-8 {
    flex: 66.6666666667% 0 0 !important;
    max-width: 66.6666666667% !important;
  }
  .col-sm-7 {
    flex: 58.3333333333% 0 0 !important;
    max-width: 58.3333333333% !important;
  }
  .col-sm-6 {
    flex: 50% 0 0 !important;
    max-width: 50% !important;
  }
  .col-sm-5 {
    flex: 41.6666666667% 0 0 !important;
    max-width: 41.6666666667% !important;
  }
  .col-sm-4 {
    flex: 33.3333333333% 0 0 !important;
    max-width: 33.3333333333% !important;
  }
  .col-sm-3 {
    flex: 25% 0 0 !important;
    max-width: 25% !important;
  }
  .col-sm-2 {
    flex: 16.6666666667% 0 0 !important;
    max-width: 16.6666666667% !important;
  }
  .col-sm-1 {
    flex: 8.3333333333% 0 0 !important;
    max-width: 8.3333333333% !important;
  }
}
:root {
  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;
}

@media (prefers-color-scheme: light) {
  :root {
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;
    --success-fg: #895A74;
    --success-color: rgb(90, 137, 111);
    --error-color: rgb(255, 53, 94);
    --link-fg: #587d94;
    --link-visited-fg: #895A74;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-fg: #fff;
    --body-bg: #333;
    --body-quiet-color: #000;
    --body-loud-color: #666;
    --success-fg: #895A74;
    --success-color: rgb(90, 137, 111);
    --error-color: rgb(255, 53, 94);
    --link-fg: #4285F4;
    --link-visited-fg: #895A74;
  }
}
/* < 576 */
/* > 576 < 768 */
/* > 768 < 992 */
/* > 992 < 1200 */
/* > 1200 < 1400 */
/* > 1400 */
input[type=email],
input[type=text],
input[type=password],
input[type=number],
input[type=date],
input[type=tel],
input[type=url],
input[type=search],
input[type=color],
input[type=submit],
textarea, button, .form-control, .btn {
  font-size: 1em;
  padding: 6px 12px;
  margin: 0.5em;
  border-radius: 8px;
  border: 1px solid var(--body-quiet-color);
  text-decoration: none;
  font-weight: bold;
}

input[type=submit], .btn, button {
  cursor: pointer;
  display: inline-block;
  border: 1px solid var(--body-quiet-color);
  text-decoration: none;
  font: bold 1em "Open Sans", Helvetica, Arial, sans-serif;
}

.btn {
  border: 1px solid transparent !important;
}

.btn-primary {
  color: var(--body-fg) !important;
  background-color: #4285F4;
}

.btn-outline {
  color: var(--body-fg) !important;
  background: var(--body-bg) !important;
  border: 1px solid var(--body-fg) !important;
}

.form-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-row {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  margin: 10px 10px auto 10px;
}
.form-group label ~ .input-group input {
  margin-top: auto !important;
}
.form-group .input-group {
  width: 100%;
}
.form-group .input-group input {
  width: 100%;
}

.help-block {
  font-size: 0.75em;
  color: #587d94;
  font-style: italic;
}

@media (max-width: 576px) {
  .form-row {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .form-row {
    flex-direction: row;
  }
  .form-row .col {
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* < 576 */
/* > 576 < 768 */
/* > 768 < 992 */
/* > 992 < 1200 */
/* > 1200 < 1400 */
/* > 1400 */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th, .table td {
  text-align: left;
  padding: 0.75em;
  vertical-align: top;
  border-top: 1px solid #dcdcdc;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

/* < 576 */
/* > 576 < 768 */
/* > 768 < 992 */
/* > 992 < 1200 */
/* > 1200 < 1400 */
/* > 1400 */
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar {
  box-sizing: border-box;
}

.navbar-dark {
  color: #ffffff;
}
.navbar-dark a {
  color: #ffffff;
}
.navbar-dark .navbar-brand {
  color: #ffffff;
}

.bg-dark {
  background-color: #414141;
}

@media (max-width: 576px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 10px;
  }
  .navbar-brand {
    font-size: 2em;
  }
  .nav-toggle-control {
    display: none !important;
  }
  .nav-toggle-button {
    width: 45px;
    font-size: 2em;
  }
  .navbar-collapse {
    display: none;
    width: 0;
  }
  .nav-toggle-control:checked ~ .navbar-collapse {
    display: flex !important;
    flex-direction: column;
    flex: 100% 0 0;
  }
  .nav-item {
    padding: 10px 0;
  }
}
@media (min-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: row;
    padding: 1em;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  .navbar .navbar-brand {
    display: block;
    text-decoration: none;
  }
  .navbar .navbar-toggler, .navbar .nav-toggle-control, .navbar .nav-toggle-button {
    display: none;
    align-self: flex-end;
  }
  .navbar .navbar-collapse {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
  }
  .navbar .navbar-nav .nav-item {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .navbar .navbar-nav .nav-item a {
    text-decoration: none;
  }
  .navbar-expand {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    width: 100%;
  }
}
/* < 576 */
/* > 576 < 768 */
/* > 768 < 992 */
/* > 992 < 1200 */
/* > 1200 < 1400 */
/* > 1400 */
.nav-profile {
  margin-left: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 1em;
}
.nav-profile .toggle-control {
  display: none;
}
.nav-profile .toggle-control:checked ~ .profile-menu {
  display: flex !important;
  flex-direction: column;
}
.nav-profile .profile-menu {
  display: none;
  background: #333333;
  position: relative;
  top: 1em;
  z-index: 99;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}
.nav-profile .profile-menu .menu-item {
  padding: 1em;
}

.login-container {
  display: flex;
  justify-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.login-container #login-box {
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  padding: 1em;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.login-container #login-box .login {
  display: flex;
  flex-direction: column;
}
.login-container #login-box .login .submit-group {
  justify-content: center !important;
}
.login-container #login-box .login .form-group {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.login-container #login-box .login .form-group label {
  flex: 25% 0 0;
  text-align: right;
}
.login-container #login-box .login .form-group .form-check {
  display: flex;
  justify-items: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.login-container #login-box .login .form-group .form-check label {
  width: auto;
}
.login-container #login-box .socialaccount_providers {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.login-container #login-box .socialaccount_providers .socialaccount_provider {
  padding: 0.5em 1em;
  margin: 1em;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

html {
  color: #333333;
  background: #FFFFFF;
}

body {
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  min-height: 75rem;
  padding-top: 4.5rem;
}

.box {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #cccccc;
  border-bottom: 5px solid #dcdcdc;
  background: #f1f1f1 !important;
}

.sr-only {
  display: none;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.img-fluid {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .search-col form {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .search-col form .form-row {
    display: flex;
    flex-direction: row;
  }
  .search-col form .form-row .form-group {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
