@import "../../../static/css/_vars.scss";
@import "../../../static/css/_effects.scss";
@import "vars";
@import "search";

* {
  background: inherit;
}

.post-container {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;


  .post {
    display: flex;
    flex-direction: column;

    margin: 10px;
    width: 100%;
    border: 1px solid var(--body-quiet-color);
    border-bottom: 5px solid var(--body-quiet-color);
    border-radius: $controlRadius;
    background: #454545;
    padding: 0;

    .post-content, .post-action, .post-header {
      padding: 1.0em;
    }

    > div:first-child {
      border-top-left-radius: $controlRadius;
      border-top-right-radius: $controlRadius;
    }

    > div:last-child {
      border-bottom-left-radius: $controlRadius;
      border-bottom-right-radius: $controlRadius;
    }

    .post-action, .post-reveal {
      display: flex;
      flex-direction: row;
    }

    .post-content, .post-title {
      display: flex;
      flex-direction: column;
    }

    .post-action {
      border-top: 1px solid var(--body-quiet-color);

      a {
        text-transform: uppercase;
      }
    }

    .btn {
      margin-left: 0 !important;
      margin-top: 0 !important;
    }

    .post-title {
      font-size: 18px;
      font-family: 'Roboto Condensed', Roboto, sans-serif;
      font-weight: 700;
      padding-bottom: 0;
    }

    .post-metadata {
      font-size: 0.75em;
      font-style: italic;
      padding-top: 0;
    }

    .post-content {
      p {
        margin: 0 0 25px 0;
      }

      p:empty {
        display: none;
      }

      img, figure {
        box-sizing: border-box;
        max-width: 100% !important;
        object-fit: contain !important;
        height: auto !important;
      }
    }

    .post-img, .post-reveal, .post-image, figure {
      padding: 0 !important;
      margin: 0 -10px 0 -10px !important;

      img {
        width: 100%;
      }
    }

    .caption {
      margin: 0 10px 0 10px !important;
    }

    .activator, .post-reveal {
      .fa-ellipsis-v, .fa-times {
        cursor: pointer;
        display: inline-block;
        padding: 5px;
      }
    }
  }
}

.post-weather {
  background: $white !important;

  .weather-app {
    display: block !important;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
  }
}

@media (min-width: $sm) {
  .post-container {
    .post {
      max-width: 50%;
    }
  }
}