{% load blogconnector %}
<div class="post" id="{{ post.slug }}">
    <h2 class="post-title">
        {{ post.title|safe }}
    </h2>
    <div class="post-metadata">
        Posted on {{ post.pub_date }} by {{ post.creator }} in {% include "blog/category_link.html" %}
        <hr>
    </div>
    <div class="post-abstract">
        {% if post.description %}
            {{ post.description|safe }}
            <p>
                <a href="{% url 'blog_post' post.slug %}">
                    Read More&hellip;
                </a>
            </p>
        {% else %}
            {{ post.content|paragraphs:1|safe }}
            <p>
                <a href="{% url 'blog_post' post.slug %}">
                    Read More&hellip;
                </a>
            </p>
        {% endif %}
    </div>
</div>