<input type="checkbox" class="modal-control" id="confirm-modal-control">
<div id="confirm-modal" class="modal-container">
    <div class="modal-content">
        <div id="confirm-dialog" class="modal-dialog">
            <div class="modal-controls">
                <label for="confirm-modal-control" class="modal-close">
                    <i class="fa-solid fa-2x fa-circle-xmark"></i>
                    <span class="sr-only">Close</span>
                </label>
            </div>
            <div class="modal-row">' + message + '</div>
            <div class="modal-row">
                <a class="btn btn-primary" id="confirm-ok">Yes</a>
                <a class="btn btn-outline" id="confirm-cancel">No</a>
            </div>
        </div>
    </div>
</div>