{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block css %}

    {% endblock %}

    {% for extra_stylesheet in extra_css %}
        <link rel="stylesheet" href="{% static extra_stylesheet %}">
    {% endfor %}

    {% if request.user.is_authenticated %}
        <script type="text/javascript">
            const AUTH_TOKEN = '{{ api_token }}';
            const BASE_URL = '{{ base_url }}';
            const WEBSOCKET_PROTOCOL = '{{ websocket_protocol }}';
            const USERNAME = '{{ request.user.username|default:"" }}';
        </script>
    {% endif %}

</head>
<body>
{% include 'header.html' %}

{% block page %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% include "_user-menu.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
        integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% for extra_js in extra_javascript %}
    <script type="text/javascript" src="{% static extra_js %}"></script>
{% endfor %}

</body>
</html>