{% extends 'base.html' %}
{% load frontend_assets %}
{% block extra_css %}
    {% leaflet_header %}
    <script>
        osm_tiles = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        osm_attr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ';
    </script>
{% endblock %}
{% block content %}
    <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{ cache.name }} - {{ cache.urlname }}</h2>
                    <p>Placed By: {{ cache.placed_by }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    {{ cache.long_description|safe }}
                    <hr>
                    <h3>Hints:</h3>
                    <p>{{ cache.hints }}</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <table class="table table-bordered">
                        <tr>
                            <th>Link</th>
                            <td><a href="{{ cache.url }}" target="_blank">{{ cache.name }}</a></td>
                        </tr>
                        <tr>
                            <th>Container</th>
                            <td>{{ cache.container }}</td>
                        </tr>
                        <tr>
                            <th>Difficulty</th>
                            <td>{{ cache.difficulty }}</td>
                        </tr>
                        <tr>
                            <th>Terrain</th>
                            <td>{{ cache.terrain }}</td>
                        </tr>
                    </table>
                    {% leaflet_map cache.latitude cache.longitude 16 cache.name %}
                    {% leaflet_marker cache.name cache.latitude cache.longitude %}
                    <p>Latitude: {{ cache.latitude }}<br>Longitude: {{ cache.longitude }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    {% for waypoint in waypoints %}
                        <pre>{{ waypoint|pprint }}</pre>
                    {% endfor %}
                </div>
            </div>
    </div>
{% endblock %}