.btn {
  height: 36px;
  width: auto;
  max-width: 200px;

  appearance: none;
  border: none;
  font-weight: 400;
  margin: 0 0 10px 0;
  background: var(--default-button-bg);
  padding: 5px;
  border-radius: 4px;
  color: var(--button-fg) !important;
  cursor: pointer;
  font-size: 1.0em;
  text-align: center;
  text-decoration: none !important;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redactor_box {
  display: flex;
  flex-direction: column;
  width: 100%;

  .redactor_editor {
    color: var(--body-fg) !important;
    background-color: var(--body-bg) !important;
  }
}